:root {
  --cor-primaria: #e21;
  --cor-primaria-escura: #900;
  --fundo-1: #f7f7f7;
  --fundo-2: #ffffff;
  --texto: #000000;
  --subtitulo: #c6c6c6;
  --onda: url(./img/onda-clara.svg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --fundo-1: #111111;
    --fundo-2: #000000;
    --texto: #ffffff;
    --subtitulo: rgba(255, 255, 255, 0.2);
    --onda: url(./img/onda-escura.svg);
  }
}

body {
  margin: 0;
  background: var(--fundo-1);
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  gap: 60px;
  justify-items: center;
  margin-top: 60px;
  color: var(--texto);
}

.cabecalho {
  display: grid;
  justify-items: center;
  gap: 60px;
}

.foto {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-size: 1rem;
}

h1,
h2,
h3,
p {
  margin: 0;
}

p {
  font-size: 1.25rem;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.menu a {
  display: block;
  background: var(--fundo-2);
  color: var(--texto);
  padding: 1rem 2rem;
  border-radius: 4px;
  border: 2px solid transparent;
}

.menu a:hover {
  border-color: var(--cor-primaria);
}

.corpo {
  display: grid;
  max-width: 1000px;
  grid-template-columns: 1fr 1fr;
}

.info {
  background: var(--fundo-2);
  padding: 40px;
  text-align: right;
  position: relative;
  display: grid;
  gap: 20px;
  align-content: center;
  justify-items: end;
}

.info::before {
  content: "";
  background: var(--cor-primaria);
  width: 60px;
  height: 4px;
  position: absolute;
  top: 25px;
  right: -30px;
}

.info a {
  background: var(--cor-primaria);
  color: #ffffff;
  border-radius: 4px;
  padding: 1rem 2rem;
}

.info a:hover {
  background: var(--cor-primaria-escura);
}

.title-vantagens {
  font-size: 4rem;
  color: var(--subtitulo);
  text-align: right;
  padding: 40px;
  align-self: center;
  background-image: var(--onda);
}

.vantagens {
  background: var(--fundo-2);
  padding: 40px;
}

.vt {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  padding: 20px;
}

.vt:nth-child(odd) {
  background: var(--fundo-1);
}

.vt:hover {
  border-left: 4px solid var(--cor-primaria);
}

.descricao {
  grid-column: 2;
}

.rodape {
  background: var(--fundo-2);
  width: 100%;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
}

@media (max-width: 850px) {
  .cover img {
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .corpo {
    grid-template-columns: 1fr;
  }

  .info {
    place-items: center;
    text-align: center;
  }

  .info::before {
    display: none;
  }

  .menu {
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .corpo {
    width: 400px;
  }

  .title-vantagens {
    font-size: 3rem;
  }
}
